// ====================================default mixin====================================
@mixin absolute-center {position: absolute;left: -50%;top: -50%;transform: translate(-50%, -50%);}

@mixin absolute-x($left, $top) {
    position: absolute;left: $left;top: $top;transform: translateX(-$left);
}

@mixin absolute-y($left, $top) {
    position: absolute;left: $left;top: $top;transform: translateY(-$top);
}

@mixin board_text {
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}

@mixin transition($x) {
    transition: $x;-webkit-transition: $x;-moz-transition: $x;-ms-transition: $x;-o-transition: $x;
}
// ====================================default mixin====================================


// ====================================jj mixin====================================
@mixin fixed-layout {max-width: 1480px;margin: 0 auto;width: 100%;}
@mixin layoutBoxColor {border: 2px solid #f00;}
@mixin header-height {height: 110px;}


// margin
@mixin marginTop-70 {margin-top: 70px;}
@mixin marginTop-40 {margin-top: 40px;}
@mixin marginTop-30 {margin-top: 30px;}

// padding
@mixin paddingTop-70 {padding-top: 70px;}
@mixin paddingTop-40 {padding-top: 40px;}


@mixin font-M {font-family: 'Montserrat';}
// ====================================jj mixin====================================





// ====================================4K====================================
@media (min-width:2560px) {}




// ====================================1440====================================
@media (max-width: 1440px) {}



// ====================================1100====================================
@media (max-width: 1100px) {

    .view_more {

        &::after {}

        &:hover {
            &::after {
                height: 100%;
            }
        }
    }

    .table_wrap {
        .table_header {
            .table_company_select {
                display: none;

                .search_form {
                    fieldset {
                        legend {}

                        .form_01_title {}

                        .form_01_selectbox {
                            select {}
                        }
                    }
                }
            }

            .table_text_search {
                margin-top: 3rem;
                width: 100%;

                .search_form {
                    width: 100%;

                    fieldset {
                        width: 100%;

                        .form_02_selectbox {
                            display: flex;
                            width: 100%;

                            select {}

                            input[type=text] {
                                margin-left: 1.5rem;
                                flex: 2;
                            }

                            input[type=submit] {
                                margin-left: 1.5rem;
                            }
                        }
                    }
                }
            }

        }

        .table_notice {

            thead {
                font-size: 16px;
                tr {
                    th {
                        &:nth-of-type(1) {}

                        &:nth-of-type(1) {}

                        &:nth-of-type(2) {}

                        &:nth-of-type(3) {}

                        &:nth-of-type(4),
                        &:nth-of-type(5) {}
                    }

                }
            }

            tbody {
                font-size: 15px;

                tr {
                    td {
                        &:nth-child(2) {
                            span {}
                        }

                        &:nth-child(1) {}

                        &:nth-child(3) {}
                    }

                    .notice_download {
                        a {
                            display: block;

                            img {
                                width: 15px;
                            }
                        }
                    }
                }

                &.active {}
            }




        }

        // table_news
        .table_news {
            .news_wrap {
                > a {
                    width: calc(50% - 10px);
                    margin-right: 10px;
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                    .news_item {
                        img {
                        }
                        figcaption {
                            padding: 10px;
                            > span {
                            }
                            .text_01 {
                            }
                            .text_02 {
                                font-size: 14px;
                                margin-top: 10px;
                            }
                        }
                    }
                    // hover, active
                    &:hover {
                        .text_01 {
                        }
                    }
                }
            }
        }

        .table_notice_more {
            >a {}
        }
    }

    // ==========================header==========================
    #header {

        &.active {}

        a {}

        .depth_01 {}

        >.header_wrap {
            padding: 0 2.5%;

            &:hover {
                background: transparent;
            }

            // logo
            .header_left {
                margin-top: 0;

                a {}
            }

            // center_menu
            .header_center {
                opacity: 0;
                visibility: hidden;
            }

            // header_right 
            .header_right {

                .header_lang {
                    display: none;

                    &.active {
                        display: block;
                    }

                    .fixed_lang {
                        .lang_arrow {}
                    }

                    .depth_lang {
                        a {
                            &:hover {}
                        }
                    }

                    &:hover .depth_lang {}

                    &:hover .lang_arrow {}
                }



                // header_sns
                .header_sns {
                    display: none;

                    &.active {
                        display: block;
                    }

                    >ul {
                        margin-left: 10px;

                        >li {

                            a {
                                img {}
                            }

                            &:not(:first-child) {}

                            &:hover {}
                        }
                    }
                }


                // header_ham
                .header_ham {
                    margin-left: 25px;

                    &.active {
                        span {}
                    }

                    span {
                        &:nth-of-type(1) {}

                        &:nth-of-type(2) {}

                        &:nth-of-type(3) {}
                    }
                }


                &.active {
                    span:nth-of-type(1) {}

                    span:nth-of-type(2) {}

                    span:nth-of-type(3) {}
                }
            }

            &:hover {
                .header_center {
                    .depth_01 {
                        display: none;
                    }

                    .header_bg {
                        display: none;
                    }
                }
            }

            // full_header
            .header_full {
                &.active {}

                .header_full_wrap {
                    margin-top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        &:hover {}
                    }

                    .header_full_list {
                        .depth_01 {
                            width: 100%;

                            >a {
                                padding-top: 15px;
                            }

                            &:nth-child(1) {
                                >a {}
                            }

                            // depth_02
                            .depth_02 {
                                display: none;

                                >li {
                                    >a {
                                        padding: 15px 0 0 15px;
                                    }

                                    // depth_03
                                    .depth_03 {
                                        >li {
                                            >a {
                                                padding: 15px 0 0 15px;

                                                &:hover {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.active {
            // background: transparent;
        }


    }
    // ==========================header==========================


    // ==========================main==========================

    // ==========================main==========================


    // ==========================footer==========================

}



// ====================================900====================================
@media (max-width: 900px) {}


// ====================================767====================================
@media (max-width: 767px) {

    .header_center {
        display: none !important;
    }


    // ==========================main==========================
    main {

        // ==========================main==========================
        // ==========================main==========================



        // ==========================sub_page==========================

        // sub_page default (main visual / sub menu bar)
        
        // sub_page default (main visual / sub menu bar)

      


        // about_ceo ============================================
        

        // about_history ============================================
        

        // about_certifi ============================================
        

        // about_direction ============================================

        // shop ============================================
        
        // product ============================================
        
        // product_more ============================================
        
        // contact.page_01 ============================================
        
   
        // community.sns ============================================
        
        // ==========================sub_page==========================




    }

    // ==========================main==========================


    // ==========================footer==========================
}


// ====================================479====================================
@media (max-width: 479px) {

    // 479
    .table_wrap {
        .table_header {
            .table_company_select {
                .search_form {
                    fieldset {
                        legend {}

                        .form_01_title {}

                        .form_01_selectbox {
                            select {}
                        }
                    }
                }
            }

            .table_text_search {
                .search_form {
                    fieldset {
                        .form_02_selectbox {

                            select {}

                            input[type=text] {
                                margin-right: 0 !important;
                            }

                            input[type=submit] {
                                margin: 10px 0 0 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }

        .table_notice {
            table-layout: auto;

            thead {
                tr {
                    th {
                        padding: 2rem;

                        &:nth-of-type(1),
                        &:nth-of-type(3),
                        &:nth-of-type(4) {}

                        &:nth-of-type(2) {
                            width: auto;
                        }
                    }

                }
            }

            tbody {
                tr {
                    td {
                        padding: 20px;
                    }

                    .notice_download {
                        a {}
                    }
                }

                &.active {}
            }




        }


        .table_rec {
            table-layout: auto;

            thead {
                tr {
                    th {

                        &:nth-of-type(1),
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            width: auto;
                        }

                        &:nth-of-type(2) {
                            width: auto;
                        }

                        &:nth-of-type(3) {
                            width: auto;
                        }
                    }

                }
            }

            tbody {
                tr {
                    td {
                        padding: 20px;

                        &:nth-child(2) {
                            span {}
                        }

                        &:nth-child(3) {}
                    }

                    .notice_download {
                        a {}
                    }
                }

                &.active {}
            }




        }
    }





    // ==========================footer==========================
    #footer {
        .footer_wrap {
            flex-direction: column;

            .content_01 {
                order: 2;

                .link_wrap {
                    .footer_link {
                        margin-right: 10px;
                        &:not(:first-child) {
                            margin-left: 0;
                        }

                        a {
                        }
                    }
                }

                .info_wrap {
                    .footer_info {
                        >a {
                            display: inline-block;
                            &:hover {}
                        }

                        &.direction {}

                        &.copyright {}
                    }
                }
            }

            .content_02 {
                order: 1;
                margin-bottom: 20px;
            }
        }
    }
}